.grid-container {
	display : grid ;
	grid-template-columns : auto auto auto ;
	grid-gap : 10px;
	background-color : tomato ;
	padding : 20 px ;
}

.grid-container > div {
	text-align : center ;
	padding : 20px 0 ;
	background-color : rgba(255,255,255,0.8);
	font-size : 30 px ;
{

.item1 {
	grid-column-start: 1;
	grid-column-end: 3;
}